html, body, #mapDiv, #leftPane{
    margin: 0;
    padding: 0;
    height: 100%;
}
#resultsContentArea {
    overflow: auto;
    width: 0px;
    height: 75%;
}
#mapDiv {
    left:0px;
    right:0px;
    position:absolute;
}
#leftPane {
  float: left;
  width: 0px;
  margin: 0px;
}
